*.pyc
*~
fannie/reports/cash_report/image_area/*
fannie/config.php
fannie/logs/*.log
fannie/logs/*.txt
*/tmp/*
fannie/item/images/new/*
fannie/legacy/FE/overshort/acct
fannie/cache/cachefiles
fannie/inventory/archive/*
fannie/reports/Store-Specific/WFC/CCSettle/xmlcache/*.xml
fannie/auth/shadowread/shadowread
fannie/src/Credentials/*
fannie/pi_food_net
fannie/pi_food_net/scalesDistro
fannie/logs/*
fannie/locale/*.po
fannie/locale/*.pot
*.dll
*.exe
fannie/INSTALL
vendor
